#Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021.
Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha.
List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita.
Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
L1 = ['Ramesh','Suresh','Mahesh','Ali','Jacob','Saritha']
L2 = ['Ali','Mukesh','Mahesh','Jacob','Sai','Sarita']

In [ ]:
for i in L1:
  for j in L2:
    if i==j:
      print(i)

Mahesh
Ali
Jacob

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.

Ramesh:  25

Suresh: 22

Mohit: 26

In [ ]:
s = 'Ramesh Suresh Mohit'
l3=(s.split())
l3
print(l3[0],':',25)
print(l3[1],':',22)
print(l3[2],':',26)

Ramesh : 25
Suresh : 22
Mohit : 26

Q3: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [ ]:
medicine_price = {'paracetamal':35,'azithromycin':49,'Vitamin_C':33}
purchase_qty = {'paracetamal':2,'azithromycin':3,'Vitamin_C':5}
tot_cst_prctml = medicine_price['paracetamal']*purchase_qty['paracetamal']
tot_cst_azithromycin = medicine_price['azithromycin']*purchase_qty['azithromycin']
tot_cst_vitamin_c = medicine_price['Vitamin_C']*purchase_qty['Vitamin_C']
tot_medicinecost = tot_cst_prctml + tot_cst_azithromycin + tot_cst_vitamin_c
tot_medicinecost
cust_given_amt =2000
refund = cust_given_amt-tot_medicinecost
blnce = tot_medicinecost-cust_given_amt

print('total cost of paracetmal is:',tot_cst_prctml)
print('total cost of azithromycin is:',tot_cst_azithromycin)
print('total cost of vitamin_c is:',tot_cst_vitamin_c)
print('total medicine cost is:',tot_medicinecost)

if tot_medicinecost<2000:
  print ('refund amount is:',refund)
if tot_medicinecost >2000:
  print('balance amt is:',blnce)

total cost of paracetmal is: 70
total cost of azithromycin is: 147
total cost of vitamin_c is: 165
total medicine cost is: 382
refund amount is: 1618

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
s = input()
v = ('a,e,i,o,u')
count=0
for i in v:
  if i in s:
    count =count + 1
print(count)

iamharitha
2

In [ ]:
s = input()
v = ('a,e,i,o,u')
count=0
for i in v:
  if i in s:
    count =count + 1
    print(i,count)

iamharitha
a 1
i 2

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.



For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [ ]:
a =int(input('enter your age for voting:'))
b = 18-a
if a >= 18:
  print('Congrats! You are eligible')
else:
  txt='return after {} years'
  print(txt.format(b))

enter your age for voting:10
return after 8 years

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.



A = [1, 2, 3, 4, 5]



Output:

[1, 3, 6, 10, 15]

In [ ]:
A = [1, 2, 3, 4, 5]
b =[]
sum = 0
for i in A:
  sum = sum+i
  b.append(sum)
print(b)

[1, 3, 6, 10, 15]

Q7:

WAP to encode a message entered by user as per below conditions:



for every word in the sentence,

1. If the word starts with a vowel, encode it as the first and last letter of the word.

2. If the word starts with a consonant, remove all vowels from it.



Ensure the case insensitive comparisons/checks are performed.



Please enter your text:The quick brown fox used to sleep inside this box

Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [2]:
s = input('enter input:')
s= s.lower()
s1=s.split()
s1
s2 =[]

v=['a','e','i','o','u']
for i in s1:
  if i[0] not in v:
     s2.append(i)
for k in s2:

       print(k.translate({ord(k): None for k in 'aeiou'}))


v = ['a','e','i','o','u']
for i in v:
  for j in s1:
    if i in j[0]:
      print(j.replace(j[1:-1],''))

enter input:The quick brown fox used to sleep inside this box
th
qck
brwn
fx
t
slp
ths
bx
ie
ud

Q8:

Write a program to implement run length encoding of a string



RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character.



Enter your string :aabbbccdddae

Encoded: 2a3b2c3d1a1e

In [ ]:
s = 'aabbbccdddae'
len(s)
encoded_s=''
i = 0
count = 1
for i in range(0,len(s)-1):
  if s[i] ==s[i+1]:
    count = count+1
  else:
    encoded_s = encoded_s+str(count)+s[i]
    count = 1


encoded_s = encoded_s+str(count)+s[i+1]

print(encoded_s)

2a3b2c3d1a1e

In [ ]:
s = 'aabbbccdddae'
len(s)
encoded_s=''
i = 1
count = 1
for i in range(1,len(s)):
  if s[i]==s[i-1]:
    count += 1
  else:
    encoded_s = encoded_s + str(count) +s[i-1]
    count = 1

encoded_s = encoded_s + str(count) +s[-1]
print(encoded_s)

2a3b2c3d1a1e